<div class="outer" style="background-color: #0a3d91; border-top: 1px solid #fc3d20; border-bottom: 1px solid #fc3d20">
    
      <nav class="nav_wrap">
        <ul>
          {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
          {% for p in navigation_pages %}
            {% if p.navigation_weight %}
              <li>
                <a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
                  {{ p.nav_name }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    
</div>